* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(215,170,139);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /* margin: 1rem; */
    color: rgb(68, 64, 62)
}

h1 {
    color: rgb(164,122,100) ;
    font-family: "Pacifico", cursive;
    font-size: 60px;
}
.container {
    margin-bottom: 2rem;
    background-image: url(images/cartoon-cow.jpg);
    background-size: cover;
    border-radius: 50px;
    box-shadow: 35px 25px 5px 2px rgb(153, 124, 115);
    width: 700px;
    height: 700px;
    padding: 1rem;
    display: flex;
    
    align-items: center;
    justify-content: center;
    padding-top: 180px;
    padding-left: 95px;
    font-size:25px;
}

.moo {
    /* border: solid; */
    width: 60px;
    height: 60px;
    font-size: 15px;
    text-align: center;
    border-radius: 50px;
    margin-right: 45px;
    margin-top: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.moo:hover {
    color: rgb(166, 48, 93);
    cursor:pointer;
}
.calculatorContainer {
    margin-right: 160px;
}

button {
    width: 68px;
    height: 65px;
    font-size: 20px;
    border-radius: 20px;
    border: solid #57545c;
    margin: 1px;
    color: #57545c;
}

button:hover {
    background-color: black;
    color: white;
    border: solid cyan;
}
.resultDisplay {
    border: solid #57545c 5px;
    background-color: rgb(221,143,141);
    width: 280px;
    height: 80px;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.row1, 
.row2, 
.row3, 
.row4, 
.row5 {
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(240,169,171); */
    /* background-color: rgb(215,170,139); */

}

.row5 {
    border-radius: 0 0 20px 20px;
}

.row1 {
    border-radius: 20px 20px 0 0 ;
}

.copyright {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(164,122,100) ;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
}

.copyright span{
    color: rgb(111, 104, 97);
}

.copyright img{
    width: 25px;
    height: 25px;
    color: rgb(164,122,100);
}

.operators {
    background-color: pink;
}
.equalSign{
    background-color: rgb(206, 96, 96);
}

@media (max-width: 600px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    h1 {
        font-size: 35px;
    }
    .copyright {
        font-size: 15px;
    }

    .container{
        box-shadow: none;
        margin-bottom: 0;
        width: 100px;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 50px;
        box-shadow: none;
        flex-direction: column;
        padding: 0;
        margin: 0;
        /* border: solid; */
    }
    .moo {
        margin-right: 0;
        margin-top: -100px;
        border-radius: 0;
        /* border: solid; */
        width: 300px;
        color: #57545c;
        
    }
    .calculatorContainer {
        margin-right: 0;
        margin-top: 100px;
    }

}